* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#go {
  color: #000;
  text-align: right;
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 300;
  text-decoration: none;
  line-height: 116px; /* 181.25% */
  letter-spacing: 1.92px;
  cursor: pointer;
}
