* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

#img {
  position: absolute;
  bottom: 10%;
  left: 45%;
  height: 62%;
  transform: translate(-50%, 10%);
  z-index: 10;
}

#noiseText1,
#relaxText {
  position: absolute;
  top: 35%;
  left: 33%;
  transform: translate(-50%, -50%);
  transition: all 0.4s ease !important;
  opacity: 0;
}
#relaxText {
  display: none;
}
#noiseText2 {
  position: absolute;
  top: 20%;
  left: 45%;
  transform: translate(-50%, -50%);
  transition: all 0.4s ease !important;
  opacity: 0;
}
#noiseText3 {
  position: absolute;
  top: 35%;
  left: 58%;
  transform: translate(-50%, -50%);
  transition: all 0.4s ease !important;
  opacity: 0;
}

.scroll-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  gap: 0;
}
#scrollContainerFront,
#scrollContainerOverlayFront {
  z-index: 20;
}

.background {
  height: 100%;
  object-fit: cover;
}

#transfer {
  width: 100vw;
  height: 100vh;
  background-color: white;
  position: absolute;
  opacity: 1;
  z-index: 200;
  transition: all 0.8s ease;
}

@media (max-width: 1000px) {
  #noiseText1,
  #noiseText2,
  #noiseText3,
  #relaxText {
    width: 80%;
  }
  #noiseText1 {
    left: 25%;
  }
  #noiseText2 {
    left: 50%;
  }
  #noiseText3 {
    left: 75%;
  }

  #img {
    height: 56vh;
    left: 60%;
  }
}
