* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #71C6D4;
    transition: all 0.8s ease;
}

img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.8s ease;
    opacity: 0;
    height: 20vh;
}

@media (max-width: 1000px) {
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.8s ease;
        opacity: 0;
        width: 70vw;
        height: auto;
    }

    p#loading {
        color: #3F3F3F;
        font-family: Inter;
        font-size: 26.67px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.8s ease;
    }
}